<p>
  <b>Name:</b>
  <%=h @thing.name %>
</p>

<p>
  <b>Descendants:</b>
  <%- @thing.descendants.each do |thing| %>
    <%= thing.name %>
  <% end %>
</p>


<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>